h1{
  text-align: center;
  font-size: 60px;
}

.grid{                                              /*Positioning for the buttons*/
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px;
}

.button{                                             /*Stylings for the buttons*/
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  border: none;
  font-size: 40px;
  background: red;
  color: white;
}
